html, .bs, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.bs {
    line-height:1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


.bs h1, .bs h2, .bs h3, .bs h4, .bs h5, .bs h6, .bs .h1, .bs .h2, .bs .h3, .bs .h4, .bs .h5, .bs .h6 {
	font-weight: 600;
}

.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
	border-top: none;
	border-bottom: 2px solid #f4f4f4;
	line-height: 2.3;
}

.bs h1 {
	font-size: 27px;
	color: #003c57;
	display: block;
	float: left;
	margin: 0;
}

.bs label {
	font-size: 11px;
	font-weight: 600;
	color: #e7ebec;
	margin-bottom: 9px;
}

.bs a {
	color: #00accf;
	text-decoration: underline;
}

.bs .table {
	width: 700px;
}

.col-xs-6 {
	padding: 0;
}

.small-drop {
	width: 95px !important;
}

.bs .form-control {
	height: 27px;
	border-radius: 0;
	border: 1px solid #c8d3d5;
	color: #000000;
	font-size: 14px;
	background-color: #e7ebec;
}

.bs .form-group {
	margin-bottom: 25px;
}

.bs .container {
	float: left;
	padding-right: 0px;
	padding-left: 0px;
}

.bs .page-content {
	width: 100%;
	float: right;
}

.bs .col-xs-12 {
	padding: 0;
}

.bs .section-1, .section-2, .section-3, .section-3-2, .section-4, .section-2a {
	padding-left: 330px;
}

/***** HEADER *****/
.bs .header {
	background-color: #6ab4c9;
	height: 60px;
	width: 100%;
	position: absolute;
	z-index: 1002;
	padding-left: 38px;
	float: left;
}

.bs .logo {
	display: block;
	float: left;
	margin-top: 15px;
}

.bs .navbar-default {
	background-color: transparent;
    border-color: transparent;
    float: right;
	z-index: 1001;
	margin-top: 3px;
}

.bs .navbar-default .navbar-toggle {
	border-color: transparent;
}

.bs .navbar-default .navbar-toggle:hover, .bs .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/***** RIGHT SIDEBAR *****/
.bs .right-sidebar {
	background-color: #5e7178;
    color: #ffffff;
    padding: 105px 38px 40px;
    width: 260px;
	left: 0;
	position: absolute;
	z-index: 1001;
	float: left;
}

.bs .sidebar-title {
	margin-bottom: 48px;
	float: left;
}

.bs .sidebar-title h2 {
	font-size: 19px;
	color: #ffffff;
	font-weight: 400;
	float: left;
	width: 112px;
	margin-right: 18px;
	margin-top: 0;
}

.bs .sidebar-title img{
	float: left;
}

.bs .include-form {
	margin-bottom: 30px;
	float: left;
}

.bs .exclusion-form {
	float: left;
	margin-bottom: 30px;
}

.bs .right-sidebar h3{
	font-size: 14px;
	color: #b4d3d9;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 0;
}

.bs .small-textarea {
	height: 50px !important;
}

.bs .big-textarea {
	height: 105px !important;
}

.bs .opp-form {
	float: left;
}

/***** SECTION-1 *****/
.bs .section-1 {
	width: 100%;
	float: right;
	position: relative;	
	margin-top: 60px;
	display: block;
}

.bs .main-title {
	margin-top: 45px;
}

.bs .main-title a {
	display: block;
	float: right;
	text-align: right;
	font-size: 15px;
	color: #00accf;
	text-decoration: underline;
	margin-top: 10px;
}

.bs .sub-title h2 {
	font-size: 25px;
	font-weight: 400;
	color: #005980;
	margin-top: 10px;
	display: inline-block;
}

.bs .navigation {
	display: block;
	text-align: right;
}

.bs .navigation a {
	text-decoration: none;
}

.bs .navigation span {
	display: inline-block;
	font-size: 17px;
	color: #005980;
	font-weight: 600;
	margin-right: 10px;
}

.bs .navigation ul {
	list-style-type: none;
	display: inline-block;
}

.bs .navigation ul  li {
	display: inline;
	padding: 1px 7px;
}

.bs .navigation ul  li {
	font-size: 17px;
	color: #a8b6b8;
	font-weight: 600;
	text-decoration: none;
}

.bs .current {
	background-color: #4996ab;
	padding: 1px 7px;
	border-radius: 3px;
	color: #ffffff !important;
}

.bs a.active-item {
	color: #ffffff !important;
	text-decoration: none;
}

.bs a.active-item:hover {
	text-decoration: none;
}

.bs .navigation a li {
	color: #005980;
}

/***** SECTION-2 *****/
.bs .section-2 {
	width: 100%;
	float: right;
	position: relative;	
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 50px;
	padding-top: 50px;
	border-top: 1px solid #e6e6e6;
	display: block;
	margin-top: 25px;
}

.bs .section-2 h2 {
	font-size: 18px;
	font-weight: 600;
	color: #043e57;
	margin: 0;
}

.bs .from-to {
	margin-top: 23px;
	float: left;
}

.bs .section-2 .input-lg {
    border-radius: 6px;
    font-size: 13px;
    height: 35px;
    line-height: 1.33333;
    padding: 10px 16px;
    font-weight: 400;
    padding: 6px 8px 6px 10px;
	color: #000000;
}

.bs .date-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: url("../images/arrow.png") no-repeat scroll 90% center / 15px auto #e7eaeb !important;
	text-overflow: ""; 
	cursor: pointer;
	width: 120px;
	display: inline-block;
	letter-spacing: 0;
	background-size: 15px auto;
}

.bs .date-select-close {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: url("../images/close.png") no-repeat scroll 90% center / 15px auto #e7eaeb !important;
	text-overflow: ""; 
	cursor: pointer;
	width: 120px;
	display: inline-block;
	letter-spacing: 0;
	background-size: 15px auto;
}

.bs .section-2 .form-group {
	float: left;	
	margin-right: 20px;
	margin-bottom: 0;
}

.bs .section-2 .form-group label {
	float: left;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	color: #808080;
	margin-right: 7px;
	margin-top: 9px;
}

/***** SECTION-3 ****/
.bs .section-3 {
	width: 100%;
	float: right;
	position: relative;	
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 50px;
	margin-top: 50px;
	display: block;
}

.bs .section-3 h2 {
	font-size: 18px;
	font-weight: 400;
	color: #666666;
	margin: 0;
	line-height: 26px;
}

.bs .section-3 h2 span {
	font-weight: 600;
	color: #043e57;
}

.bs .section-3-2 {
	width: 100%;
	float: right;
	position: relative;	
	border-bottom: 1px solid #e6e6e6;
	margin-top: 25px;
	display: block;
	border-top: 1px solid #e6e6e6;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bs .section-3-2-a {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.bs .section-3-2 h2 {
	font-size: 18px;
	font-weight: 400;
	color: #666666;
	margin: 0;
	line-height: 26px;
}

.bs .section-3-2 h2 span {
	font-weight: 600;
	color: #043e57;
}

.bs .campaign-type {
	font-size: 11px;
	color: #a4daeb;
	width: 700px;
	background-color: #00657a;
	height: 46px;
	border: 1px solid #88b7c1;
	padding: 16px 23px;
	margin-top: 20px;	
	font-weight: 600;
}

.bs .table-check {
	font-size: 12px;
	color: #737373;
	font-weight: 600;
}

.bs input[type="checkbox"] {
    opacity:0;
    height: 18px;
    width: 18px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.bs input[type="checkbox"] + label{
    background-image: url("../images/check-1.png");
    height: 18px;
    width: 18px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
	margin: -6px -6px -6px -18px;
}

.bs input[type="checkbox"]:checked + label{
    background-image: url("../images/check-2.png");
    height: 18px;
    width: 18px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.bs input[type="checkbox"]:disabled + label{
    background-image: url("../images/check-3.png");
    height: 18px;
    width: 18px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.bs .check-box {
	margin-left: 15px;
	float: left;
	width: 18px;
}

.bs .colored {
      background-color: #e1e8e9;
	  color: #043e57;
}

/***** SECTION-4 ****/
.bs .section-4 {
	width: 100%;
	float: right;
	position: relative;	
	padding-bottom: 50px;
	margin-top: 50px;
	display: block;
	text-align: right;
}

.bs .back-button {
	background-color: #ffffff;
	border: 2px solid #c4cfd1;
	border-radius: 7px;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #aeb8ba !important;
	padding: 12px 28px;
	margin-right: 10px !important;
	float: right;
	text-decoration: none;
	cursor: pointer;
}

.bs .back-button:hover {
	color: #6ab4c9 !important;
	border: 2px solid #a4daeb;
	text-decoration: none;
}

.bs .next-button {
	background-color: #003c57;
	border: 2px solid #003c57;
	border-radius: 7px;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #ffffff !important;
	padding: 12px 28px;
	float: right;
	text-decoration: none;
	cursor: pointer;
}

.bs .next-button:hover {
	background-color: #005980 !important;
	border: 2px solid #005980;
	text-decoration: none;
}

/***** SECTION-2a *****/
.bs .section-2a {
	width: 100%;
	float: right;
	position: relative;	
	padding-bottom: 25px;
	margin-top: 15px;
	display: block;
}

.bs .section-1a {
	border-bottom: none !important;
}

.bs .info-box {
	font-size: 15px;
	color: #043e57;
	background-color: #ebeff0;
	border-radius: 5px;
	border: 1px solid #f6f8f8;
	padding: 8px 22px;
	font-weight: 600;
}

.bs .info-box img{
	float: left;
	margin-right: 10px;
	display: block;
}

.bs .info-box span {
	display: block;
    margin-top: 6px;
	margin-bottom: 8px;
}

.bs .table-check-2 {
	font-size: 12px;
	color: #737373;
	font-weight: 600;
}

/***** OTHER *****/
.bs .campaign-type-2 {
	font-size: 11px;
	color: #a4daeb;
	width: 100%;
	background-color: #00657a;
	height: 46px;
	border: 1px solid #88b7c1;
	padding: 16px 23px;
	margin-top: 20px;	
}

.bs .exclude-1 {
	padding-right: 16px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bs .border-step4 {
	border-right: 1px solid #e6e6e6;
}

.bs .exclude-2 {
	padding-left: 16px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bs .opp-2 {
	border-right: 1px solid #e6e6e6;
}

.bs .check-box-2 {
	padding-left: 15px;
}

.bs .tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

.bs .tooltip {
	min-width: 140px;
}

.bs .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fad000;
}
.bs .tooltip.top-left .tooltip-arrow {
  border-top-color: #fad000;
}
.bs .tooltip.top-right .tooltip-arrow {
  border-top-color: #fad000;
}
.bs .tooltip.right .tooltip-arrow {
  border-right-color: #fad000;
}
.bs .tooltip.left .tooltip-arrow {
  border-left-color: #fad000;
}
.bs .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fad000;
}
.bs .tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #fad000;
}
.bs .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #fad000;
}

.bs .info-box-2 {
	font-size: 15px;
	color: #043e57;
	background-color: #ebeff0;
	border-radius: 5px;
	border: 1px solid #f6f8f8;
	padding: 16px 22px;
	font-weight: 600;
}

.bs .info-box-2 img{
	float: left;
	margin-right: 10px;
	display: block;
}

.bs .info-box-2 p {
	color: #5e7178;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-left: 40px;
    margin-top: 7px;
	font-weight: 400;
}

.bs .info-box-2 span {
	color: #00accf;
}

.bs .info-box-2 a {
	margin-left: 5px;
}

.bs .infobox-2-text {
	color: #043e57 !important;
}

.bs .section-3 .input-lg {
    border-radius: 6px;
    font-size: 12px;
    height: 46px;
    line-height: 1.33333;
    padding: 10px 16px;
    font-weight: 600;
    padding: 8px 5px;
}

.bs .section-3-2 .input-lg {
    border-radius: 6px;
    font-size: 12px;
    height: 35px;
    line-height: 1.33333;
    padding: 10px 16px;
    font-weight: 400;
    padding: 6px 8px 6px 10px;
}

.bs .date-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: url("../images/arrow.png") no-repeat scroll 90% center / 15px auto #e7eaeb !important;
	text-overflow: ""; 
	cursor: pointer;
	width: 120px;
	display: inline-block;
	letter-spacing: 0;
	background-size: 15px 9px;
}

.bs .section-3 .form-group {
	float: left;	
	margin-right: 7px;
	margin-bottom: 0;
}

.bs .section-3-2 .form-group {
	float: left;	
	margin-right: 7px;
	margin-bottom: 0;
}

.bs .section-3 .form-group label {
	float: left;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	color: #808080;
	margin-right: 7px;
	margin-top: 9px;
}

.bs .section-3-2 .form-group label {
	float: left;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	color: #808080;
	margin-right: 7px;
	margin-top: 9px;
}

.bs .form-group p {
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	color: #808080;
	margin-right: 7px;
	margin-top: 9px;
}

.bs .form-group p span {
	color: #4296ad;
}

.bs .first-label {
	margin-right: 11px !important;
}

.bs .step-4-filter {
	float: left;
    margin-left: 25px;
}

.bs thead tr {
	background-color: #00657a;
    border: 1px solid #88b7c1;
    color: #a4daeb;
    font-size: 11px;
    height: 46px;
    margin-top: 20px;
    padding: 16px 23px;
}

.bs thead tr {
	padding-left: 20px;
}

.bs .check-box-1 {
	margin-left: 15px;
	float: left;
	width: 18px;
	margin-right: 30px;
}

.bs .table-margin {
	margin-top: 40px;
}

.bs .more-padding {
	padding-bottom: 635px !important;
}

.bs .table-member, .table-lead {
	width: 100% !important;
}

.bs .padding-step-1 {
	padding-bottom: 146px;
}

.bs .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.bs .modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.bs .modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.bs .modal-header {
	border-bottom: none;
}

.bs .close {
	background: none;
	border: none;
	opacity: 1;
	color: #6ab4c9;
	font-size: 32px;
}

.bs .modal-header .close {
	margin-top: -16px;
	margin-right: -12px;
}

.bs .modal-body {
	text-align: center;
	font-weight: 300;
	line-height: 24px;
}

.bs .lean {
	font-size: 14px !important;
}

.bs .modal-body h2 {
	color: #005980;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: -10px;
	margin-bottom: 17px;	
}

.bs .modal-body p {
	font-size: 16px;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	margin-bottom: 28px;
}

.bs .modal-dialog {
	margin: 100px auto;
}

.bs .modal-backdrop{
    opacity:0.34 !important;
}

.bs .tab-content{
	display: none;
}

.bs .current {
	display: block;
}

.bs ul.tabs li{
	cursor: pointer;
}

.bs .table-exclude .colored td {
	text-decoration: line-through !important;
	color: #043e57 !important;
}

/***** TABLET & MOBILE DEVICES *****/
@media (min-width: 992px) and (max-width: 1210px) {
	.bs {
		position: relative;
		width: 1190px;
	}

}
@media (min-width: 300px) and (max-width: 992px) {
	.bs .main-content {
		margin-top: -15px;
	}
	
	.bs .more-padding {
		padding-bottom: 0;
	}

	.bs .right-sidebar {
		width: 100%;
		margin-top: -15px;
		display: none;
		position: relative;
		padding: 60px 38px 38px;
	}
	.bs .container {
		margin-right: 0px;
		width: 100%;
	}
	.bs .page-content {
		width: 100%;
		padding-right: 0px;
	}
	
	.bs .header, .section-1, .section-2, .section-3, .section-3-2, .section-4, .section-2a {
		padding-left: 0px;
	}
	
	.bs .section-1 {
		margin-top: 0px;
	}

	.bs .logo {
		margin-left: 20px;
	}
	
	.bs .header {
		position: relative;
		padding-left: 0;
	}
	
	.bs .sidebar-title h2 {
		width: auto;
	}
	
	.bs .sidebar-title img{
		margin-top: -11px;
	}
	
	.bs .right-sidebar h3 {
		margin-bottom: 15px;
	}
	
	.bs .exclusion-form {
		margin-bottom: 15px;
	}
	
	.bs .include-form {
		margin-bottom: 15px;
	}
	
	.bs .sidebar-title {
		margin-bottom: 25px;
	}
	
	.bs .left-content {
		margin: 0;
		width: 100%;
	}
	
	.bs .main-title {
		text-align: center;
	}
	
	.bs h1 {
		float: none;		
	}
	
	.bs .main-title a {
		float: none;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.bs .navigation {
		text-align: center;
	}
	
	.bs .from-to, .section-2 h2 {
		margin-left: 20px;
	}
	
	.bs .campaign-type {
		width: 100%;
	}
	
	.bs .table {
		width: 100%;
	}
	
	.bs .section-3 h2 {
		text-align: center;
		padding: 0 20px;
	}
	
	.bs .section-3-2 h2 {
		text-align: center;
		padding: 0 20px;
	}
	
	.bs .next-button {
		margin-right: 20px !important;
	}
	
	.bs .exclude-2 {
		padding-left: 0px;
		margin-top: 50px;
	}
	.bs .opp-2 {
		border-right: none;
	}
	
	.bs .padding-step-1 {
		padding-bottom: 0px;
	}
	
	.bs .step-4-filter {
		margin-left: 0px;
	}
	
	.bs .section-3-2-a {
		padding-top: 50px !important;
	}
	
}

@media (min-width: 300px) and (max-width: 760px) {
	.bs .exclude-1 {
		padding: 0;		
	}
	
	.bs .border-step4 {
		border: none;
	}
}