<div class="tuple-conditions-header-row lds-column-header">
  <div class="condition-num-column"></div>
  <div class="condition-field-column"><%- fieldObjectType %> Field</div>
  <div class="condition-operator-column">Operator</div>
  <div class="condition-operand-column"><%- operandHeader %></div>
  <div class="condition-radio-column"></div>
  <div class="condition-delete-column"></div>
</div>
<div class="tuple-conditions-body">
  <div class="tuple-conditions-row"></div>
  <%= showSeparatorPerRow ? "" : "<hr class=\"tuple-rule-separator\">" %>
  <button type="button" class="add-tuple-condition-btn lds-secondary-small-button">Add Condition</button>
  <div class="rule-logic-container" style="<%=(showRpnContent ? 'visibility: visible;' : 'visibility: hidden;')%>">
    <div class="rule-logic-row">
      <div class="ld-field-label-small" style="white-space: normal;">Rule Logic</div>
      <input class="tuple-rule-logic-input lds-field-small <%- rpnLogicIsValid ? '' : 'lds-field-invalid' %>" value="<%- logic %>" />
      <div class="reset-tuple-rule-logic">Reset</div>
    </div>
    <div class="rule-logic-error-row"></div>
  </div>
</div>
