<div class="add-additional-recipient-row">
  <div class="additional-recipient-typeahead" style="flex: 1"></div>
</div>
<% _.each(additionalObjectsLabels, function(label, idx) { %>
<div class="additional-recipient-row">
  <% if(!additionalObjectsValidity[idx]) { %>
    <div class="alert-icon-wrapper">
      <div class="validation-error-icon validation-error-icon-xtra-small"></div>
      <div class="alert-icon-content">This variable no longer exists or is not a valid user field.</div>
    </div>
  <% } %>
  <div class="additional-recip-col1 <%- additionalObjectsValidity[idx] ? '' : 'error-message' %>"><%- label %></div>
  <div class="additional-recip-col2" style="justify-content: flex-end">
    <div class="remove-additional-recipient-row ld-cross-icon-grey-large" data-index="<%- idx %>"></div>
  </div>
</div>
<% }) %>
