html, .bs, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.bs {
  line-height:1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

td.noSidebarCell {
	padding: 0 !important;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
.bs nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

.bs section.header {
	z-index: 0;
}

.bs .hideable-view-section div ul li label {
	font-weight: initial;
}

.bs .settings_ul li {
	margin-bottom: 5px;
	font-size: 15px;
}
.bs .settings_ul {
	list-style-type: none;
}

.bs a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

span.bold-help {
	font-weight: bold;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

strong {
	font-weight: 600;
}

svg {
	shape-rendering: crispEdges;
}

.view-checkboxes-wrapper label:not(.inner)  {
	margin-left: 20px;
}

.view-checkboxes-wrapper label.inner {
	margin-left: 40px;
}

.bs img.dashboard-logo {
	margin-top: 17px;
}

.bs, .page-content, .tab-content {
	float: left;
}

.page-content {
	width: 100%;
}

.bs .container {
	margin-left: unset;
	padding: 0;
}

.bs h1, .bs h2, .bs h3, .bs h4, .bs h5, .bs h6, .bs .h1, .bs .h2, .bs .h3, .bs .h4, .bs .h5, .bs .h6 {
	font-weight: 600;
}

.no-margin {
	margin: 0 !important;
}

/***** HEADER *****/
.bs .header {
	background-color: #6ab4c9;
	height: 60px;
	width: 100%;
	position: relative;
	z-index: 1002;
	float: left;
	padding-left: 25px;
}

.bs .navbar {
	min-height: 60px;
	border-radius: 0px;
}


.bs .navbar-default {
	background: #6ab4c9;
	border: none;
}

.bs .navbar-default .navbar-nav > li > a {
    color: #ffffff;
	font-size: 12px;
	font-weight: 600;
}

.bs .navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 16px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 15px;
	margin-right: 0px;
}

.bs .navbar-default .navbar-nav > .active > a, .bs .navbar-default .navbar-nav > .active > a:hover, .bs .navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
	color: #ffffff;
	border-bottom: 4px solid #005980;
}

.bs .navbar-default .navbar-nav > li > a:hover,
.bs .navbar-default .navbar-nav > li > a:focus {
	background: transparent;
	color: #ffffff;
	border-bottom: 4px solid #005980;
}

.bs .navbar-toggle {
	border: none;
	margin-top: 14px;
}

.bs .navbar-default .navbar-toggle:hover,
.bs .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.bs .navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.bs .navbar-default .navbar-collapse, .bs .navbar-default .navbar-form {
	border: none;
}

.bs .navbar-collapse.in {
	overflow-y: unset;
    padding-top: 40px;
}

.bs .navbar-right {
	margin: 0;
}


.bs .navbar-collapse {
	padding-right: 10px;
}

/****** SECTION TITLE *****/
.bs .section-title {
	float: left;	
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #f2f2f2;
	width: 100%;
}

.bs .titles {
	color: #043e57;
	font-size: 27px;
	font-weight: 600;
	margin: 0;
	padding-left: 73px;
}

.bs .icon-panel {
	height: 150px;
	width: 150px;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

.sub-title {
	float: left;
}

.from-to {
	float: right;
}

.bs .form-group {
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
}

.bs .form-group label {
    color: #043e57;
    display: inline-block;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin-right: 12px;
    margin-top: 9px;
}

.bs  .input-lg {
    border-radius: 6px;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    line-height: 1.33333;
    padding: 6px 8px 6px 10px;
}

.bs .date-select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: url("../images/arrow.png") no-repeat scroll 90% center / 15px auto #e7eaeb !important;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0;
    text-overflow: "";
    width: 92px;
}

.bs .form-control {
    background-color: #e7ebec;
    border: 1px solid #c8d3d5;
    color: #000000;
    font-size: 13px;
    height: 27px;
}

/***** LEFT SIDEBAR *****/
.bs .left-sidebar {
	float: left;
	width: 230px;
	background-color: #f8f8f8;
	border-right: 1px solid #eeeeee;
	padding-left: 13px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 150px;
}

.bs .left-sidebar h3 {
	margin: 0;
	color: #043e57;
	font-size: 18px;
	font-weight: 600;
}

	    	.bs .navbar-default {
	    		display: block;
	    		width: 100%;
	    	}

.bs .sidebar-block {
	float: left;
	margin-top: 32px;
	width: 100%;
	display: block;
}

.bs .sidebar-block h4 {
	margin: 0;
	color: #00accf;
	font-size: 16px;
	margin-bottom: 17px;
}

.bs .sidebar-block p {
	font-size: 15px;
	color: #666666;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bs .sidebar-block p span {
	color: #4c4c4c;
	font-weight: 600;
	margin-left: 5px;
}

.bs .label-on {
	background-color: #b0dd08;
	color: #ffffff;
	font-size: 12px !important;
}

.bs .label-off {
	font-size: 12px !important;
	color: #666666 !important;
	border: 1px solid #c5c5c5;
}

.bs .links-block {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 2px solid #f0f0f0;
	width: 100%;
}

.bs .links-block a {
	color: #00accf !important;
	font-size: 15px;
}

.bs .links-block p {
	margin-bottom: 25px;
}

.bs .long-padding {
	/*padding-bottom: 700px !important;*/
	min-height: 1100px;
}

/***** RIGHT SECTION *****/
.right-section {
	float: left;
	width: 711px;
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 50px;
}

.graphs {
	margin-top: 50px;
}

.graphs h3 {
	margin-top: 0;
	margin-bottom: 15px;
	color: #043e57;
	font-size: 18px;
}

.section-subtitle {
	float: left;
	padding-top: 40px;
	width: 100%;
	border-bottom: medium none !important;
	border-top: 1px solid #eeeeee;
}

.section-subtitle  .sub-title {
}

.section-subtitle h2 {
	font-size: 18px;
	color: #043e57;
	margin: 0;
}

.section-subtitle .date-select {
	width: 115px !important;
}

.section-subtitle label {
	font-size: 14px;
	color: #666666;
}

.table-router {
	float: left;
	padding-left: 73px;
	padding-bottom: 50px;
}

.bs .table {
    margin-bottom: 5px;
}

.bs .table {
    max-width: 936px;
    min-width: 936px;
    width: 936px;
}

.bs .table > thead {
    background-color: #386578;
}

.bs .table-info thead, .bs .table-info tbody, .bs .table-info tr, .bs .table-info td, .bs .table-info th {
    display: block;
}

.bs .table-info thead, .bs .table-info tbody, .bs .table-info tr, .bs .table-info td, .bs .table-info th {
    display: block;
}

.bs .table-info tr::after {
    clear: both;
    content: " ";
    display: block;
    visibility: hidden;
}

.bs .table-responsive > .table > thead > tr > th, .bs .table-responsive > .table > tbody > tr > th, .bs .table-responsive > .table > tfoot > tr > th, .bs .table-responsive > .table > thead > tr > td, .bs .table-responsive > .table > tbody > tr > td, .bs .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
}

.bs .table-info > thead > tr > th, .bs .table-info > tbody > tr > th, .bs .table-info > tfoot > tr > th, .bs .table-info > thead > tr > td, .bs .table-info > tbody > tr > td, .bs .table-info > tfoot > tr > td {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
    border-top: 1px solid #ededed;
}

.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
    padding-left: 24px;
}

.bs .table > thead > tr > th {
    border-bottom: medium none;
    color: #85c4da;
}

.bs .table-info thead th {
    font-size: 11px;
    line-height: 14px !important;
}


.bs *::before, .bs *::after {
    box-sizing: border-box;
}
.bs *::before, .bs *::after {
    box-sizing: border-box;
}
.bs .table > caption + thead > tr:first-child > th, .bs .table > colgroup + thead > tr:first-child > th, .bs .table > thead:first-child > tr:first-child > th, .bs .table > caption + thead > tr:first-child > td, .bs .table > colgroup + thead > tr:first-child > td, .bs .table > thead:first-child > tr:first-child > td {
    border: 0 none;
}
.bs .table-responsive > .table > thead > tr > th, .bs .table-responsive > .table > tbody > tr > th, .bs .table-responsive > .table > tfoot > tr > th, .bs .table-responsive > .table > thead > tr > td, .bs .table-responsive > .table > tbody > tr > td, .bs .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
}
.bs .table-info > thead > tr > th, .bs .table-info > tbody > tr > th, .bs .table-info > tfoot > tr > th, .bs .table-info > thead > tr > td, .bs .table-info > tbody > tr > td, .bs .table-info > tfoot > tr > td {
    padding-bottom: 20px;
    padding-top: 20px;
}
.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
    border-top: 1px solid #ededed;
}
.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
    padding-left: 25px !important;
}
.bs .table > thead > tr > th {
    border-bottom: medium none;
    color: #85c4da;
	font-weight: 600;
}
.bs .table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 16px;
    vertical-align: top;
}
.bs .table-info thead th {
    font-size: 11px;
    line-height: 14px !important;
}
.bs .table-info thead, .bs .table-info tbody, .bs .table-info tr, .bs .table-info td, .bs .table-info th {
    display: block;
}

.bs .table-info tbody td, .bs thead th {
    float: left;
}

/* .bs .table-info tbody {
    max-height: 190px;
    overflow-y: auto;
} */

.bs .table-info tbody {
    color: #737373;
    font-size: 12px;
    line-height: 16px;
}

.bs .table > thead > tr > th, .bs .table > tbody > tr > th, .bs .table > tfoot > tr > th, .bs .table > thead > tr > td, .bs .table > tbody > tr > td, .bs .table > tfoot > tr > td {
    border-top: 1px solid #ededed;
}

.span-1 {
	font-weight: 600;
	color: #000000;
}

.span-2 {
	font-weight: 600;
	color: #00accf;
}

.span-3 {
	color: #00accf;
}

@media (min-width: 300px) and (max-width: 992px) {

}

@media (min-width: 300px) and (max-width: 760px) {
	.bs .section-title {
		padding-left: 10px;
	}
	
	.bs .header {
		padding-left: 0px;
	}
	
	.navbar-brand {
		padding-left: 25px !important;
	}
	
	.bs .navbar-nav {
		margin: 10px auto auto;
	}
	
	.left-sidebar {
		width: 100%;
		padding-bottom: 50px;
		padding-left: 0;
		text-align: center;
		padding-right: 0;
	}
	
	.section-title {
		text-align: center;
		padding: 0;
	}
	
	.sub-title {
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
	}
	
	.from-to {
		display: inline-block;
		float: none;
	}
	
	.bs .titles {
		padding: 0;
	}
	
	.right-section {
		padding-left: 0;
		text-align: center;
		width: 100%;
	}
	
	.table-router {
		padding-left: 0;
	}
	
	.log-lable {
		width: 100%;
		margin-bottom: 20px !important;
	}
	
	.log-filter {
		width: 100%;
		margin-top: 10px !important;
	}
	
	.section-subtitle .sub-title {
		padding: 0;
	}


}